
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
/build/android/proj/build
/build/android/proj/libadmob/build
/build/android/proj/libservice/build
